<% provide :clients_title, 'Услуги' %>

<container class="container">
<container class="serv">
  <div class="content"><h1> Услуги и цены</h1>
    <table class="uss_table_darkgrey" cellspacing="0" cellpadding="13">
      <tbody>
        <tr><td width="2402">Выезд на дом по Саранску</td> <td><span>Бесплатно!</span></td></tr>
        <tr><td>Диагностика <em>(при последующем ремонте)</em></td><td><span>Бесплатно!</span></td></tr>
        <tr><td>Диагностика без последующего ремонта</td><td><b>500 руб.</b></td></tr>
        <tr><td>Установка и подключение стиральной машины</td><td><b>500 руб.</b></td></tr>
        <tr><td>Замена сетевого выключателя</td><td><b>от 700 руб.</b></td></tr>
        <tr><td>Замена платы управления</td><td><b>от 1000 руб.</b></td></tr>
        <tr><td>Ремонт командоаппарата</td>	<td><b>от 1000 руб.</b></td></tr>
        <tr><td>Ремонт платы управления</td><td><b>от 1000 руб.</b></td></tr>
        <tr><td>Замена приводного ремня</td><td><b>от 700 руб.</b></td></tr>
        <tr><td>Замена шкива барабана</td><td><b>от 1400 руб.</b></td></tr>
        <tr><td>Замена электродвигателя</td><td><b>от 1000 руб.</b></td></tr>
        <tr><td>Замена щёток электродвигателя</td><td><b>от 1600 руб.</b></td></tr>
        <tr><td>Замена подшипников</td><td><b>от 2600 руб.</b></td></tr>
        <tr><td>Замена сливного шланга <em>(2,5-5 м)</em></td><td><b>от 800 руб.</b></td></tr>
        <tr><td>Устранение инородного предмета из бака</td><td><b>от 2400 руб.</b></td></tr>
        <tr><td>Замена насоса</td><td><b>от 1400 руб.</b></td></tr>
        <tr><td>Замена электромагнитного клапана</td><td><b>от 800 руб.</b></td></tr>
        <tr><td>Замена нагревательного элемента (ТЭНа)</td><td><b>от 1400 руб.</b></td></tr>
        <tr><td>Ремонт командоаппарата</td><td><b>от 1600 руб.</b></td></tr>
        <tr><td>Замена манжеты <em>(уплотнительной резины люка)</em></td><td><b>от 1400 руб.</b></td></tr>
        <tr><td>Устранение засора <em>(без разборки стиральной машины)</em></td>	<td><b>от 1300 руб.</b></td></tr>
        <tr><td>Устранение засора <em>(с разборкой стиральной машины)</em></td><td><b>от 2400 руб.</b></td></tr>
        <tr><td>Замена бака</td><td><b>от 2500 руб.</b></td></tr>
        <tr><td>Разблокировка люка</td><td><b>от 1000 руб.</b></td></tr>
        <tr><td>Замена механизма блокировки люка</td><td><b>от 1400 руб.</b></td></tr>
        <tr><td>Замена люка</td><td><b>от 1400 руб.</b></td></tr>
        <tr><td>Замена замка на люке</td><td><b>от 1000 руб.</b></td></tr>
        <tr><td>Замена амортизаторов <em>(2 шт)</em></td><td><b>от 1400 руб.</b></td></tr>
      </tbody>
    </table>
</container>
</container>