<h1>Ремонт стиральных машин на дому</h1>

<form class="ecoform-inline">
              <div class="ecoform-input">
		<input type="text" name="Телефон" id="phone" required="" placeholder="Ваш телефон">
        <input type="text" name="Имя" required="" placeholder="Ваше имя">
</div>
<div class="ecoform-button"><button class="form-submit">Заказать бесплатную консультацию</button></div>
</form>