<% provide :clients_title, 'Наши контакты' %>

<container class="contacts">
<div id="content" class="site-content">

<div class="wrap">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			
<article id="post-47" class="post-47 page type-page status-publish hentry">
	<header class="entry-header">
					</header>
	<div class="entry-content">
			</div>
</article>

		</main>
	</div>
</div>


<div class="front-page-titles" style="margin-bottom: 20px;">
<span style="color: #069dbb">Контактная</span> информация
</div>

<div class="brands-in-flex" style="margin-bottom: 20px;">
<div class="row contacts-rm">
            <div class="col-md-3 col-3 py-3 py-4">
              <ion-icon name="location-outline"></ion-icon>
              <p>
Адрес: г.Саранск,<br>ул. Республиканская, д. 104</p>
              </div>
            <p><div class="col-md-3 col-3 py-3 py-4">
              <ion-icon name="call-outline"></ion-icon>
              <p>
				  <a href="tel:+79274633422"><span style="color: #605f5f;font-weight: 500;font-size: 20px;">+7 (927) <span style="color: #fea700;">463-34-22</span></span></a><br>
				  <a href="tel:+79274633422"><span style="color: #605f5f;font-weight: 500;font-size: 20px;">+7 (927) <span style="color: #fea700;">463-34-22</span></span></a> 
				</p>
              </div></p>
            <p><div class="col-md-3 col-3 py-3 py-4">
              <ion-icon name="mail-outline"></ion-icon>
              <p style="font-size: 20px;">tehnorem13@ya.ru</p>
              </div></p>
            <p><div class="col-md-3 col-3 py-3 py-4">
              <ion-icon name="mail-outline"></ion-icon> 
              <p>Часы работы: с 9:00 до 21:00 ежедневно (без выходных)</p>
              </div></p>

          </div>
</div>
		</div>
    </container>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>