<% provide :clients_title, 'О нас' %>

<container class="cont">
	
	<div class="entry-content"><h1>О нашем сервисе</h1> 
    <img src="https://trs13.ru/wp-content/uploads/2018/07/tehnoremservis2.jpg">
      <p>Сервисный центр <strong>«У Сани»</strong> с 2008 года оказывает услуги по ремонту бытовой техники и электроники в Саранске.</p>
      <p>Основа нашего коллектива — это опытные мастера с трудовым стажем не менее 5-ти лет, которые 7 дней в неделю готовы 
         прийти к Вам на помощь и восстановить работоспособность техники даже в самых сложных случаях.</p>
      <p>Для нас важен каждый клиент, поэтому мы сделаем все от нас зависящее чтобы вы остались на 100% довольны качеством 
         нашего сервиса и могли с уверенностью рекомендовать нас своим друзьям и знакомым.</p>
        <h2>Почему выбирают нас:</h2>
      <ul>
        <li>Гарантия на все виды работ до 12-ти месяцев;</li>
        <li>Бесплатный выезд и диагностика (при заказе ремонта);</li>
        <li>Собственный склад запчастей;</li>
        <li>Оперативность;</li>
        <li>Прозрачная цена на услуги;</li>
        <li>Культурные и вежливые мастера;</li>
        <li>Работаем без выходных и праздников;</li>
      </ul>

  </div>
</container>



<div class="container">
  <main>
    <div class="py-3">
      <h2>Ремонт стиральных машин на дому</h2>
      <p class="lead">Узнайте возможную причину неисправности и<br> 
                      стоимость ремонта по телефону <strong>+7 (927) 463-34-22</strong><br>
                      или оставьте свой номер и мастер Вам перезвонит</p>

<%= form_with model: @client do |f| %>
  <div>
  <div class="col-sm-3">
      <%= f.text_field :phone, required: true, minlength: 11, placeholder: 'Ваш телефон', class: 'form-control' %>
  </div>
</div>

  <div class="col-sm-3"><br>
      <%= f.text_field :name, required: true, minlength: 2, placeholder: 'Ваше имя', class: 'form-control' %>
  </div>
</div>

      <%= f.submit 'Заказать бесплатную консультацию', class: 'btn btn-primary btn-lg' %>
</div>
</div>
<% end %>