<% provide :clients_title, 'О нас' %>

<container class="cont">
	
	<div class="entry-content"><h1>О нашем сервисе</h1> 
    <img src="https://trs13.ru/wp-content/uploads/2018/07/tehnoremservis2.jpg">
      <p>Сервисный центр <strong>«У Сани»</strong> с 2008 года оказывает услуги по ремонту бытовой техники и электроники в Саранске.</p>
      <p>Основа нашего коллектива — это опытные мастера с трудовым стажем не менее 5-ти лет, которые 7 дней в неделю готовы 
         прийти к Вам на помощь и восстановить работоспособность техники даже в самых сложных случаях.</p>
      <p>Для нас важен каждый клиент, поэтому мы сделаем все от нас зависящее чтобы вы остались на 100% довольны качеством 
         нашего сервиса и могли с уверенностью рекомендовать нас своим друзьям и знакомым.</p>
        <h2>Почему выбирают нас:</h2>
      <ul>
        <li>Гарантия на все виды работ до 12-ти месяцев;</li>
        <li>Бесплатный выезд и диагностика (при заказе ремонта);</li>
        <li>Собственный склад запчастей;</li>
        <li>Оперативность;</li>
        <li>Прозрачная цена на услуги;</li>
        <li>Культурные и вежливые мастера;</li>
        <li>Работаем без выходных и праздников;</li>
      </ul>

  </div>
</container>

